img {
    display: flex;
    margin: 25px;
    

}

body {
    background-color: lightblue;
}

#imagen{
    display: flex;

}

#cabecera{
    text-align: center;
    background-color: rgb(231, 220, 156);
    border-radius: 20px;
}

#pie{
    display: flex;
}